* {
  box-sizing: border-box;
}

.subfooter{
  padding: 40px;
  text-align: center;
  background-color: #F8F8F8;
  height: 160px;
  &__info{
    font-size: 12px;
    width: 400px;
    margin: 0 auto 30px;
    .contents{
      display: flex;
      .content{
        width: calc(1 / 3 * 100%);
        a{
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
  &__copyright {
    font-size: 10px;
    text-align: center;
  }
}