.new_session-wrapper
  .new_session-wrapper__logo
    = link_to root_path do
      = image_tag src="/assets/material/logo/logo.png", size: "300x70"
      %span{class: "new_session-wrapper__logo__text"}
    
  .new_session-wrapper__main
    .new_session-wrapper__main__head
      住所情報
    .new_session-wrapper__main__title
      郵便番号
      %span{class: "require"} 必須
      %input{class: "new_session-wrapper__main__text", placeholder: "例)123-4567"}
    .new_session-wrapper__main__title
      都道府県
      %span{class: "require"} 必須
      .flexbox
        %select{class: "new_session-wrapper__main__select three-select"}
          %option{value: "0"} --
          %option{value: "1"} 選択肢1
          %option{value: "2"} 選択肢2
          %option{value: "3"} 選択肢3
    .new_session-wrapper__main__title
      市区町村
      %span{class: "require"} 必須
      %input{class: "new_session-wrapper__main__text", placeholder: "例）大阪市中央区"}
    .new_session-wrapper__main__title
      番地
      %span{class: "require"} 必須
      %input{class: "new_session-wrapper__main__text", placeholder: "例）難波5-1"}
    .new_session-wrapper__main__title
      建物名
      %span{class: "require"} 任意
      %input{class: "new_session-wrapper__main__text", placeholder: "例）スカイオ15F"}
    .new_session-wrapper__main__caution
      ※本人情報は正しく入力してください。会員登録後、お時間を頂く場合があります。
      %input{type: "submit",class: "new_session-wrapper__main__btn", value: "次へ進む"}
    