.new_session-wrapper
  .new_session-wrapper__logo
    = link_to root_path do
      = image_tag "/assets/material/logo/logo.png", size: "300x70", alt: "test"
      %span{class: "new_session-wrapper__logo__text"}
    
  .new_session-wrapper__main
    .new_session-wrapper__main__head
      登録が完了しました
    =link_to root_path, class:"new_session-wrapper__main__btn" do 
      トップページに戻る
  .new_session-wrapper__footer
    = image_tag src="/assets/material/logo/logo-white.png", size: "200x50"
    %span{class: "new_session-wrapper__logo__text"}
              