.subfooter
  .subfooter__info
    %ul.contents
      %li.content
        = link_to "プライバシーポリシー", "#"
      %li.content
        = link_to "フリマ利用規約", "#"
      %li.content
        = link_to "特定商取引に関する表記", "#"
  .subfooter__logo
    = image_tag asset_path("material/logo/logo.png"), width: "100"
  .subfooter__copyright
    ©︎FURIMA