* {
  box-sizing: border-box;}

.detail{
  background-color: whitesmoke;
  height: 100vh;}

.detail__header {
  height: 90px;
  background-color: #ffffff;
  color: black;
  box-shadow: 0px 0px 10px -3px;
  &__search {
    text-align: center;
    font-size: 50px;
    line-height: 90px;
  }
}

.contents{
  background-color: whitesmoke;
  margin-top: 50px;
  &__top{
    background-color: white;
    height: 950px;
    width: 700px;
    margin: 0 auto;
    
    .name{
      font-size: 24px;
      padding-top: 20px;
      margin: 0 auto;
      text-align: center;
      word-wrap: break-word;
    }
    .main{
      margin: 16px 0 0;
      padding-left: 40px;
      display: flex;
      .image{
        display: block;
        background-color: whitesmoke;
        .small{
          width: 300px;
          line-height: 0px;
          display: flex;
          flex-wrap: wrap;
        }
      }
      .item{
        float: right;
        max-width: 300px;
        height: 420px;
        margin: 0 auto;
        font-size: 13px;
        padding: 8px;
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
        tr{
          border: 1px solid #f5f5f5;
          
        }
          th{
            background-color: #f5f5f57e;
            border: 1px solid #f5f5f5;
            padding-left: 8px;
          }
          td{
            padding-left: 8px;
            
            .item-user-ratings{
              .icon{
                display: flex;
                .icon-good{
                }
                .icon-normal{
                  padding-left: 8px;
                }
                .icon-bad{
                  padding-left: 8px;
                }
              }
            }
          }
      }
    }
    .fee{
      display: block;
      text-align: center;
      margin: 24px 0 0;
      .price{
        margin: 0 16px 0 0;
        font-weight: 600;
        font-size: 50px;
      }
      .tax{
        font-size: 10px;
        top: 50px;
      }
      .postage{
        display: inline-block;
        font-size: 16px;
      }
    }
    .purchase{
      text-align: center;
      a{
        display: block;
        margin: 0 auto;
        margin-top: 16px;
        background: #ea352d;
        height: 60px;
        width: 620px;
        font-weight: 600;
        font-size: 24px;
        line-height: 60px;
        color: white;
      }
    }
    .explanation{
      white-space: pre-wrap;
      font-size: 18px;
      text-align: center;
      p{
        text-align: left;
        display: inline-block;
      }
    }
    .item-button{
      margin: 16px 0 0;
      
      .item-button-left{
        float: left;
        padding: 0px 40px 40px;
        .like{
          border: 1px solid #ea352d;
          background: none;
          color: #ea352d;
          padding: 8px 16px;
          display: inline-block;
          border-radius: 40px;
          transition: all ease-out .3s;
        }
        .report{
          border: 1px solid #aaaaaa;
          text-decoration: none;
          display: inline-block;
          font-size: 12px;
          color: #000000;
          padding: 8px 16px;
          margin-left: 10px;
          border-radius: 40px;
          transition: all ease-out .3s;
        }
      }
      .item-button-right{
        padding: 8px 40px;
        float: right;
        .blank{
          color: #0099e8;
          text-decoration: none;
        }
      }
    }
  }


  &__center{
    background-color: white;
    height: 305px;
    width: 700px;
    margin: 8px auto;
    padding: 24px;
    p{
      background-color: #f8f8f8;
      font-size: 14px;
      padding: 8px;
      margin: 10px 0;
    }
      .center-comment{

        form{
          text-align: center;
          .text{
            height: 100px;
            width: 648px;
            margin-bottom: 8px;
          }
        }
        .submit{
          margin: 0 auto;
          margin-top: 30px;
        a{
          text-align: center;
          display: block;
          height: 48px;
          width: 60%;
          background-color: #3CCACE;
          line-height: 48px;
          color: white;
          font-size: 18px;
          border-radius: 100px;
        }
      }
    }
  }
  ul{
    margin: 0 auto;
    width: 700px;
    list-style: none;
    .left{
      color: #0099e8;
      text-decoration: none;
      float: left;
    }
    .right{
      color: #0099e8;
      text-decoration: none;
      float: right;
    }
  }

  &__another{
    height: 300px;
    width: 700px;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
    p{
      font-size: 22px;
      font-weight: 600;
      color: #0099e8;
    }
  }
}