* {
  box-sizing: border-box;
}

.detail {
  height: 100vh;
}

.detail__header {
  height: 90px;
  background-color: #ffffff;
  color: black;
  box-shadow: 0px 0px 10px -3px;
  &__search {
    text-align: center;
    font-size: 50px;
    line-height: 90px;
  }
}

.detail__contents {
  background-color: whitesmoke;
  padding: 40px;
  &__top {
    background-color: white;
    width: 700px;
    margin: 0 auto;
    padding: 24px 40px 40px;

    .name {
      font-size: 24px;
      padding-top: 20px;
      margin: 0 auto;
      text-align: center;
      word-wrap: break-word;
      font-weight: bold;
    }
    .main {
      margin: 16px 0 0;
      display: flex;
      ul {
        display: flex;
        position: relative;
        list-style: none;
        li {
          flex-direction: column;
          width: 560px;
          align-items: center;
          margin: 0 auto;
          .main-image {
            object-fit: cover;
            height: 346px;
          }
          ul {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            li {
              margin: 0 10px 0 0;
            }
          }
        }
      }
    }

    .fee {
      display: flex;
      margin: 24px 0 24px;
      text-align: center;
      flex-direction: column;
      .price {
        margin: 0 16px 0 0;
        font-weight: bold;
        margin: 0 10px 0 0;
        font-size: 46px;
      }
      .tax {
        font-size: 16px;
      }
    }
    .purchase {
      text-align: center;
      a {
        display: block;
        margin: 0 auto;
        margin-top: 16px;
        background: #ea352d;
        height: 60px;
        width: 620px;
        font-weight: 600;
        font-size: 24px;
        line-height: 60px;
        color: white;
      }
    }
    .item-edit{
      display: flex;
      justify-content: space-between;
      a{
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        display: block;
        height: 48px;
        width: 30%;
        background-color: #3ccace;
        border: 1px solid #3ccace;
        line-height: 48px;
        color: white;
        font-size: 18px;
        border-radius: 100px;
      }
    }
    .explanation {
      font-size: 18px;
      text-align: center;
      margin-bottom: 30px;
      p {
        text-align: left;
        display: inline-block;
      }
    }
    .item {
      margin: 0 auto;
      font-size: 13px;
      padding: 8px;
      width: 100%;
      height: 375px;
      border-collapse: collapse;
      border: 1px solid #f8f8f8;
      margin-bottom: 20px;
      tr {
        border: 1px solid #f8f8f8;
      }
      th {
        width: 20%;
        background-color: #eee;
        font-weight: 400;
        padding: 8px;
        border: 1px solid #dedede;
        font-size: 14px;
        text-align: center;
      }
      td {
        width: 61%;
        padding: 15px 15px;
        border: 1px solid #dedede;
        font-size: 14px;
        a {
          text-decoration: none;
          color: #3ccace;
        }
      }
    }

    .item-button {
      margin: 10px 0 0;
      display: flex;
      justify-content: space-between;
      .item-button-left {
        .favorite {
          margin-top: 8px;
          padding: 6px 10px;
          border-radius: 40px;
          color: #3ccace;
          border: 1px solid #ffb340;
          font-size: 15px;
        }
      }
      .item-button-right {
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        color: #000000;
        padding: 8px 16px;
        margin-left: 10px;
        border-radius: 40px;
        transition: all ease-out 0.3s;
      }
      a {
        padding: 6px 10px;
        display: inline-block;
        border-radius: 4px;
        color: #333;
        border: 1px solid #333;
        text-decoration: none;
      }
    }
  }

  &__center {
    background-color: white;
    height: 305px;
    width: 700px;
    margin: 8px auto;
    padding: 24px;
    p {
      background-color: #f8f8f8;
      font-size: 14px;
      padding: 8px;
      margin: 10px 0;
    }
    .detail__center-comment {
      form {
        text-align: center;
        .text {
          height: 100px;
          width: 648px;
          margin-bottom: 8px;
        }
      }
      .submit {
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        display: block;
        height: 48px;
        width: 60%;
        background-color: #3ccace;
        border: 1px solid #3ccace;
        line-height: 48px;
        color: white;
        font-size: 18px;
        border-radius: 100px;
      }
    }
  }
  ul {
    margin: 0 auto;
    width: 700px;
    list-style: none;
    .left {
      color: #3ccace;
      text-decoration: none;
      float: left;
    }
    .right {
      color: #3ccace;
      text-decoration: none;
      float: right;
    }
  }

  &__another {
    width: 700px;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
    p {
      font-size: 22px;
      font-weight: 600;
      .more-baby-kids {
        color: #3ccace;
      }
    }
  }
}
