.login-footer
  %ul.terms
    %li= link_to "プライバシーポリシー"
    %li= link_to "利用規約"
    %li= link_to "特定商取引に関する表記"
  = link_to (image_tag asset_path("material/logo/logo.png"), alt: "test", height: "49", width: "180", class:"header__logo"), root_path
  %p ©︎フリマ,inc