.topappBanner {
  padding: 100px 40px;
  position: relative;
  .inner {
    color: #fff;
    text-align: center;
    &__title {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
    &__icon {
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      a:first-child {
        margin-right: 10px;
      }
    }
  }
}

.app_store {
  width: 180px;
}
.play_store {
  width: 180px;
}

.topappBanner {
  background-image: image-url("material/pict/bg-appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
}
