%aside.topappBanner
  .inner
    %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード！
    .inner__icon
      %a.aBtn{:href => "#"}
        =image_tag "material/icon/download-on-the-app-store-apple.svg", height: "50", width: "53"
      %a.gBtn{:href => "#"}
        =image_tag"material/icon/google-play-badge.svg", height: "50", width: "53"