.app__banner
  .inner
    %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード！
    .inner__icon
      .content__btn--app
        =link_to (image_tag asset_path("material/icon/download-on-the-app-store-apple.svg"), class:"app_store"), root_path
      .content__btn--gstore
        =link_to (image_tag asset_path("material/icon/google-play-badge.svg"), class:"play_store"), root_path