= render "/items/templates/subheader"

.exb-done
  .exb-done__wrapper
    .exb-done__wrapper__create
      商品の出品が完了しました
      %br
      = link_to "トップページに戻る", root_path, class: "exb-done__wrapper__create__link"

= render "/items/templates/subfooter"